<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Instructions">
            You can use the arrow keys (up, down, left and right) on your computer to place, orient and accelerate the
            speed of the falling blocks. Clearing each row, you will be awarded 15 points. The speed of the falling
            blocks will be increased for every 3 rows cleared by the participant.
            Please play the game until you see “Game Over” on the screen and click “continue” to answer the
            questionnaire.
            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>