<p-toast></p-toast>
<p-card>
  <div class="flex justify-content-center align-items-center">
    <h1 style="color: #2196F3;">Experience questionnaire</h1>
  </div>
  <h3 style="color: #495057;">&nbsp; To what extent do you agree with the following statements&nbsp;<span style="color: red;">*</span></h3>
  <div *ngIf="currentMode!='withoutMusic'">
    <div *ngFor="let question of withMusicQuestions,let i=index">
      <p-card styleClass="questionCard" *ngIf="withMusicQuestions[i].key!='Follow_up_for_General_ques_VI'">
        <p class="question">{{question.value}}</p>
        <div class="flex justify-content-start flex-wrap gap-4">
          <div *ngFor="let option of justifyOptions" class="field-checkbox">
            <div>
              <label [for]="option.key">{{option.name}}</label>
              <br><br>
              <div style="display: flex;" class="justify-content-center">
                <p-radioButton [inputId]="option.key" name="category" [value]="option.key"
                  [(ngModel)]="question.selectedOption">
                </p-radioButton>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <!-- <br> -->
       <p-card styleClass="questionCard" *ngIf="((withMusicQuestions[i-1]?.selectedOption=='6'||withMusicQuestions[i-1]?.selectedOption=='7')&&(withMusicQuestions[i].key=='Follow_up_for_General_ques_VI'))">
        <p class="question">{{withMusicQuestions[i].value}}</p>
        <!-- <input type="text" pInputText /> -->
        <textarea [rows]="2" style="width: 80vw;" pInputTextarea [autoResize]="true"
          [(ngModel)]="withMusicQuestions[i].selectedOption"></textarea>
      </p-card>
      <br>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p-card styleClass="questionCard">
        <div class="flex justify-content-end">
          <p-button label="Submit" (click)="submitFeedback()"></p-button>
        </div>
      </p-card>
    </div>
  </div>
  <div *ngIf="currentMode=='withoutMusic'">
    <div *ngFor="let question of withOutMusicQuestions">
      <p-card styleClass="questionCard">
        <p class="question">{{question.value}}</p>
        <div class="flex justify-content-start flex-wrap gap-4">
          <div *ngFor="let option of justifyOptions" class="field-checkbox">
            <div>
              <label [for]="option.key">{{option.name}}</label>
              <br><br>
              <div style="display: flex;" class="justify-content-center">
                <p-radioButton [inputId]="option.key" name="category" [value]="option.key"
                  [(ngModel)]="question.selectedOption">
                </p-radioButton>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <br>
    </div>

    <div class="flex justify-content-center align-items-center">
      <p-card styleClass="questionCard">
        <div class="flex justify-content-end">
          <p-button label="Submit" (click)="submitFeedback()"></p-button>
        </div>
      </p-card>
    </div>
  </div>
</p-card>