<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Tutorial Instructions ">
           Tutorial helps you to understand the basic controls and rules in the game. After clicking the "play" button,
           use up, down, left and right arrow keys on the keyboard to orient and position the falling block. 
           <p>On the right hand side of the screen, you can view the next block coming up into the game space.
           Also, you can track the game score and number of levels played. </p>
          <p> You can play until you see "Game Over" on the screen and proceed to the actual game by clicking "continue".</p> 
           <p>Since this is a warm-up for the actual game, your total score and the game performance will not be counted for evaluating the results.</p>
             

            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    