<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Tutorial Instructions ">
            In the next step, you will play the game <b>Tetris</b>.

           <ul>
            <br>

<li>Your goal will be to align the falling blocks in a way, 
    that that they fill horizontal lines. Each completed line will grant you points. </li>
    <br>
    <li>A manual with the controls will be shown to the left of the game. </li>
   <br>
   <li> In this first run, you can take your time to understand the game mechanics as the score will not be counted.</li>
   <br>
   <li>You can play the game until you see <b>Game Over</b> on the screen and then click <b>Continue</b> to start the actual study .</li>
   <br>
   <li> Please feel free to contact your supervisor, in case if you have any questions. Good luck! </li>

           </ul>
             

            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    