<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Do Music Preferences affect Players’ Gameplay Performance and Experience?">
            <p class="sideHeading">Participation information:</p>
            Thank you for participating in our study. In this survey, we would like to assess your
            performance and experience while playing the game <b>Tetris</b>. This study consists of three parts.
            In each part, you have to play the Tetris game and fill the questionnaire related to your overall
            performance and experience.
            It will take about approximately 30 minutes to complete the study. The goal of this study is to determine your
            performance
            and experience while playing Tetris under different conditions.
            Your data will be stored and processed anonymously. More information on the data protection can
            be found in the <a (click)="display=true" style="color: blue;cursor:pointer">Data Protection Notice.</a>
            This study is being conducted by Sridhar Karra as part of his master thesis
            <p class="sideHeading">Notes on data protection and participation information :</p>
            <p-checkbox name="groupname" binary="true" (onChange)="enableButton($event)"></p-checkbox>&nbsp;&nbsp;I have
            read and understood the notes on <a (click)="display=true" style="color: blue;cursor:pointer">Data
                Protection </a> and the participation
            information and agree that my data will be used anonymously for scientific research purposes.
            <div class="flex justify-content-end" *ngIf="checked">
                <p-button label="Submit" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    <p-dialog header="Data Protection Notice " [(visible)]="display" [style]="{width: '60vw'}" modal="true">
        <p-scrollPanel [style]="{width: '100%', height: '300px'}">
            <p class="subHeading">General information</p>

            The following study is part of a master thesis at the Deutsches Forschungszentrum für Künstliche
            Intelligenz (DFKI) and Universität des Saarlandes (UdS).

            <p class="subHeading">Approval from the Ethical Review Board</p>

            This study is approved by the <a href = "https://erb.cs.uni-saarland.de/" target="_blank"> Ethical Review Board</a> 
            of the department of Computer Science at Saarland University stating that there are no ethical concerns against the implementation of this research project.

            <p class="subHeading">Voluntary participation and consent</p>

            Participation in the study is voluntary. Consent to participate in this
            study can be revoked at any time and without giving reasons. You can close the browser window before submitting your questionnaire. 
            All incomplete data records will be deleted by us. After the end of the data collection, the legal rights of revocation,
            information, correction,
            blocking and deletion can no longer be exercised, because the data can no longer be assigned to the data
            subject.

            <p class="subHeading">What data do we collect?</p>
            After consenting to the data collection, the following demographic data will be collected and processed anonymously:
            <ul>
                <li>Age group</li>
                <li>Gender</li>
                <li>Nationality</li>
            </ul>
            The following game-specific and questionnaire data are collected:
            <ul>
                <li>Game-related data </li>
                <li>Questions based on prior Tetris experience</li>
                <li>Questions based on overall performance/experience for each game condition</li>
                <li>Questionnaire based on Player Experience Inventory (PXI)</li>
                <li>Questionnaire based on Intrinsic Motivation Inventory (IMI)</li>
            </ul>
            All the data is stored locally on the web browser which is used to participate in this study. Once the data is submitted,
            it is then stored in the external server at <a href = "https://account.mongodb.com/" target="_blank"> https://account.mongodb.com/</a>. We use Mongo DB as our external database server.
            <p class="subHeading">Anonymization of data</p>
            With the transmission of the collected data to our server, an anonymization takes place,
            which makes an allocation of the collected data to a person practically impossible, if no personal
            data are entered in free text fields.
            <p class="subHeading"> What do we use the collected data for?</p>
            The results and data will be used exclusively for scientific research purposes
            and they will be published in anonymous form as part of the final thesis and as a scientific
            publication of this study. Furthermore, they can be further processed in anonymous form for other
            scientific research purposes.
            <p class="subHeading">Contact persons</p>
            The contact person is Sridhar Karra (<a href= "mailto:s8srkarr@stud.uni-saarland.de">s8srkarr@stud.uni-saarland.de</a>). 
            If you have any questions that are not answered in this privacy statement or would like further
            information on data protection, please contact me.
            <p class="subHeading"> Right of complaint</p>
            You have the right to lodge a complaint with a supervisory authority if you believe that the processing of
            your personal data violates legal data protection regulations.
        </p-scrollPanel>
    </p-dialog>