<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Game Instructions">
<ul>
<li>In the next step, you will play the game <b>Tetris</b>.</li>
<br>
<li> The score will be counted. </li>
<br>
<li>You can play the game until you see <b>Game Over</b> on the screen and then click <b>Continue</b> to play the game for the second run.</li>
<br>
<li>Once the second run is completed, click <b>Continue</b> to answer the questionnaire. </li>
    <br>
<li> Please feel free to contact your supervisor, in case if you have any questions. Good luck! </li>
</ul>

    
            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    