<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Game Instructions">
            <p>On the next page, you are going to play Tetris game.</p>
            <p> Use the arrow keys on your computer to adjust the falling blocks in your game space.</p>
             <p> Play until you see “Game over” on the game screen and then click “continue” to answer
               the questions regarding your experience in playing the game.</p>
            

    
            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    