<div class="flex justify-content-center align-items-center" style="height: 80vh">
    <div style="width: 80vw;">
        <p-panel header="Instructions">
            On the next page, you are going to play Tetris game.
             Usr the arrow keys on your computer to adjust the falling blocks in your game space.
              Play until you see “Game over!” on the game screen and then click “continue” to answer
               the questions regarding your experience in playing the game.
            <div class="flex justify-content-end">
                <p-button label="Continue" (click)="nextPage()"></p-button>
            </div>
        </p-panel>
    </div>
    